* {
  font-family: calibri;
/*  color: red;*/
  /*background-color: rgb(42,47,51);*/
/*  color:white;*/
}
h1, h2, h3, h4{
  margin: 0 auto;
}

table, h2, tr, td, a, button, .end{
 /*background-color: rgb(66,70,79);*/
 padding:15px;
 /*color: white;*/
}
/*.footer{
  background-color: rgb(66,70,79);
  padding: 15px;
  height: 150px;
  margin-bottom: 0.0em;
  padding-bottom: 15px;
}*/
hr{
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0.0em;
  margin-right: 0.0em;
  border-style: inset;
  border-width: 1px;
}

.separator{
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 10px;
}

.mention {
  width: 150px;
  margin: 0 auto;
  clear: both;
}
.mention input {
  width: 100%;
  margin: 0 auto;
  clear: both;
}

.cutebut {
  width: 80px;
  margin: 0 auto;
  clear: both;
}
.cutebut input{
  width: 100%;
  margin: 0 auto;
  clear:both;
}

.key {
  width: 80px;
  margin: 0 auto;
  clear: both;
}
.key input {
  width: 100%;
  margin: 0 auto;
  clear: both;
}

.thread {
  width: 300px;
  margin: 0 auto;
  clear: both;
}
.thread input{
  width: 100%;
  margin: 0 auto;
  clear: both;
}

button {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
  margin-bottom: 10px;
  cursor: pointer;
  width: 100%;
}
button:hover {
  color: #fff;
  background-color: #138496;
  border-color: #17a2b8;
}

h4 {
  color: red;
}

.success{
  color: green;
}

.success input{
  color: green;
}
